@model Cart

<div>
    @if (Model.Lines.Count() > 0) {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model.ComputeTotalValue().ToString("c")
        </small>
    }
    <a class="btn btn-sm btn-secondary navbar-btn position-relative" asp-page="/Cart"
       asp-route-returnurl=
       "@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-light">
            @Model.Lines.Sum(x => x.Quantity)<span class="visually-hidden">item(s)</span>
        </span>
    </a>
</div>