<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SportsStore</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    
    <style>
        .main-nav {
            background: #35424a;
        }
    </style>
</head>
<body>
<div class="main-nav text-white p-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a class="d-inline btn navbar-brand" role="button" asp-action="Index"
                   asp-controller="Home"
                   asp-route-category=""
                   asp-route-productPage="1">E-STORE</a>
            </div>
        </div>
    </div>
</div>
<div class="m-1 p-1">
    @RenderBody()
</div>
</body>
</html>